.jumbotron {
  background: rgb(98,10,161);
  background: linear-gradient(90deg, rgba(98,10,161,1) 0%, rgba(112,0,232,1) 47%, rgba(162,5,219,1) 100%);
}

.h-fix {
  min-height: 62px;
}

.profile-pic-main {
  height: 253.4px;
  width: 253.4px;
}
  
.fit-big {
  height: 180px;
  width: 180px;
  object-fit: cover;
  }

.fit-small {
  height: 30px;
  width: 30px;
  object-fit: cover;
}

.question {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
