.jumbotron {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.h-fix {
  min-height: 62px;
}

.profile-pic-main {
  height: 253.4px;
  width: 253.4px;
}
  
.fit-big {
  height: 180px;
  width: 180px;
  object-fit: cover;
  }

.fit-small {
  height: 30px;
  width: 30px;
  object-fit: cover;
}

.question {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
