{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block nav %}
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
    </li>
  </ul>
  <div>
    <a class="btn btn-warning" href="{{ url_for('login') }}">Вход</a>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin mt-5 white">
      <div class="card-body">
        <h5 class="text-center pb-3">Регистрация</h5>
        <form action="/register" method="POST" class="needs-validation">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.email(class="form-control py-2", placeholder=form.email.label.text) }}
            {% for error in form.email.errors %}
              <p class="text-danger">{{ error }}</p>
            {% endfor %}
            <div class="invalid-feedback">Пожалуйста, введите верный email.</div>
          </div>
          <div class="form-group">
            {{ form.username(class="form-control py-2", placeholder=form.username.label.text) }}
            {% for error in form.username.errors %}
              <p class="text-danger">{{ error }}</p>
            {% endfor %}
            <div class="invalid-feedback">Пожалуйста, введите верное имя пользователя.</div>
          </div>
          <div class="form-group">
            {{ form.password(class="form-control py-2", placeholder=form.password.label.text) }}
            {% for error in form.password.errors %}
              <p class="text-danger">{{ error }}</p>
            {% endfor %}
            <div class="invalid-feedback">Пожалуйста, введите верный пароль.</div>
          </div>
          <div class="form-group">
            {{ form.password_repeat(class="form-control py-2", placeholder=form.password_repeat.label.text) }}
            {% for error in form.password_repeat.errors %}
              <p class="text-danger">{{ error }}</p>
            {% endfor %}
            <div class="invalid-feedback">Пожалуйста, введите верный пароль.</div>
          </div>
          {{ form.submit(class="btn btn-success btn-block") }}
        </form>
      </div>
    </div>
    <div class="text-center pt-2">
      <h6 class="text-muted">Уже есть аккаунт? <a href="{{ url_for('login') }}">Войти.</a></h6>
    </div>
  </div>
{% endblock %}

